<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.18/datatables.min.css"/>

<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.18/datatables.min.js"></script>

<head th:replace="fragments/sub :: header" lang="en"></head>

<body>

<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Voedsaam Stock</div>
        <div class="list-group list-group-flush">
            <a href="../portal" class="list-group-item list-group-item-action bg-light">Portaal</a>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <nav th:replace="fragments/sub.html :: topmenu"
             class="navbar navbar-expand-lg navbar-light bg-light border-bottom"></nav>
        <!-- Coordinator Logistics  view -->
        <div  sec:authorize="hasAnyRole('ROLE_COORDINATOR', 'ROLE_LOGISTICS')"  class="container">
            <h1 class="mt-4">Bestellingen</h1>
            <div class="container">
                <div th:if="${not #lists.isEmpty(orders)}">
                    <table id="example" class="table table-striped table-light">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Stock</th>
                            <th>Partner</th>
                            <th>Order Status</th>
                            <th>Afhaal datum / uur</th>
                            <th>Editeer</th>
                            <th>Verwijder</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="order : ${orders}">
                            <td th:text="${order.id}"></td>
                            <td th:text="${order.stock}"></td>
                            <td th:text="${order.partner}"></td>
                            <td th:text="${order.orderStatus.value}"></td>
                            <td>
                                <time datetime="2014-09-20" class="icon">
                                    <em th:text="${#temporals.format(order.pickUp, 'E','nl')}">20</em>
                                    <span th:text="${#temporals.format(order.pickUp,'dd-MMMM','nl')}">Zaterdag</span>
                                    <strong th:text="${#temporals.format(order.pickUp, 'HH:mm')}">September</strong>
                                </time>
                            </td>
                            <td><a class="btn btn-block, btn-success"
                                   th:href="${'/order/edit/' + order.id}">Editeer</a>
                            </td>
                            <td><a class="btn btn-block, btn-danger" th:href="${'/order/delete/' + order.id}">Verwijder</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    <!-- Partner view -->
    <div  sec:authorize="hasAnyRole('ROLE_PARTNER')" class="container">
        <h1 class="mt-4">Bestellingen</h1>
        <div class="container">
            <p th:if="${#lists.isEmpty(orders)}"> Er zijn geen geen orders </p>
            <div th:if="${not #lists.isEmpty(orders)}">
                <table id="example" class="table table-striped table-light">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Stock</th>
                        <th>Partner</th>
                        <th>Order Status</th>
                        <th>Afhaal datum / uur</th>
                        <th>Editeer</th>
                        <th>Annuleer</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="order : ${orders}">
                        <td th:text="${order.id}"></td>
                        <td th:text="${order.stock}"></td>
                        <td th:text="${order.partner}"></td>
                        <td th:text="${order.orderStatus.value}"></td>
                        <td>
                            <time datetime="2014-09-20" class="icon">
                                <em th:text="${#temporals.format(order.pickUp, 'E','nl')}">20</em>
                                <span th:text="${#temporals.format(order.pickUp,'dd-MMMM','nl')}">Zaterdag</span>
                                <strong th:text="${#temporals.format(order.pickUp, 'HH:mm')}">September</strong>
                            </time>
                        </td>
                        <td><a class="btn btn-block, btn-success"
                               th:href="${'/order/edit/' + order.id}">Editeer</a>
                        </td>
                        <td><a th:if="${order.orderStatus!='NEW'}" class="btn btn-block, btn-danger" th:href="${'/order/cancel/' + order.id}">Annuleer</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>
<script>
    $(document).ready(function () {
        $('#example').DataTable({
            "language": {
                "sProcessing": "Bezig...",
                "sLengthMenu": "_MENU_ resultaten weergeven",
                "sZeroRecords": "Geen resultaten gevonden",
                "sInfo": "_START_ tot _END_ van _TOTAL_ resultaten",
                "sInfoEmpty": "Geen resultaten om weer te geven",
                "sInfoFiltered": " (gefilterd uit _MAX_ resultaten)",
                "sInfoPostFix": "",
                "sSearch": "Zoeken:",
                "sEmptyTable": "Geen resultaten aanwezig in de tabel",
                "sInfoThousands": ".",
                "sLoadingRecords": "Een moment geduld aub - bezig met laden...",
                "oPaginate": {
                    "sFirst": "Eerste",
                    "sLast": "Laatste",
                    "sNext": "Volgende",
                    "sPrevious": "Vorige"
                },
                "oAria": {
                    "sSortAscending":  ": activeer om kolom oplopend te sorteren",
                    "sSortDescending": ": activeer om kolom aflopend te sorteren"
                }
            }
        });
    });
</script>

</body>

</html>
