<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >

<head th:replace="fragments/sub.html :: header" lang="en"></head>

<body>

<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Voedsaam Ritten</div>
        <div class="list-group list-group-flush">
            <a sec:authorize="hasAnyRole('ROLE_DRIVER')" href="../../" class="list-group-item list-group-item-action bg-light">Start</a>
            <a sec:authorize="hasAnyRole('ROLE_COORDINATOR', 'ROLE_LOGISTICS')" href="../" class="list-group-item list-group-item-action bg-light">Overzicht</a>
            <a sec:authorize="hasAnyRole('ROLE_COORDINATOR')" th:href="@{/drive/removeOrphans}" href="../" class="list-group-item list-group-item-action bg-light">Verwijder zonder schema</a>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <nav th:replace="fragments/sub.html :: topmenu" class="navbar navbar-expand-lg navbar-light bg-light border-bottom"></nav>

        <div class="container">
            <h2>Ritten Lijst</h2>
            <div th:if="${not #lists.isEmpty(drives)}">
                <div class="alert alert-danger"  th:if="${error!=null}"  >
                    <p th:text="${error}"> error </p>
                </div>
                <table class="table table-striped table-light">
                    <tr>
                        <th>Id</th>
                        <th>Beschrijving</th>
                        <th>Start datum</th>
                        <th>Schema</th>
                        <th>Lijst</th>
                        <th sec:authorize="hasAnyRole('ROLE_COORDINATOR', 'ROLE_LOGISTICS')" >Editeer</th>
                        <th sec:authorize="hasRole('ROLE_COORDINATOR')">Verwijder</th>
                    </tr>
                    <tr th:each="drive : ${drives}">
                        <td th:text="${drive.id}"></td>
                        <td th:text="${drive.description}"></td>
                        <td>
                            <time datetime="2014-09-20" class="icon">
                                <em th:text="${#temporals.dayOfWeekName(drive.startTime)}">Zaterdag</em>
                                <span th:text="${#temporals.day(drive.startTime)}">20</span>
                                <strong th:text="${#temporals.monthName(drive.startTime)}">September</strong>
                            </time>
                        </td>
                        <td th:text="${drive.schedule}"></td>
                        <td th:if="${drive.schedule!=null}"><a class="btn btn-block btn-primary" th:href="${'/drive/show/' + drive.id}">Bekijk</a></td>
                        <td th:if="${drive.schedule!=null}" sec:authorize="hasAnyRole('ROLE_COORDINATOR', 'ROLE_LOGISTICS')" ><a class="btn btn-block btn-success" th:href="${'/drive/edit/' + drive.id}">Editeer</a></td>
                        <td th:if="${!drive.users&&drive.schedule==null}" sec:authorize="hasRole('ROLE_COORDINATOR')"><a class= "btn btn-block btn-danger"th:href="${'/drive/delete/' + drive.id}">Verwijder</a></td>
                    </tr>
                </table>
                <div th:if="${session.idSchedule != null}" class="row">
                    <div class="col-sm-3">
                        <a sec:authorize="hasAnyRole('ROLE_COORDINATOR', 'ROLE_LOGISTICS')" th:href="${'/drive/new/' + session.idSchedule}" href="/drive/form" class="btn btn-primary">Nieuwe Rit</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
<!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>

</body>

</html>
