<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/edit-show.html :: header" lang="en"></head>

<body>

<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Voedsaam Ritten</div>
        <div class="list-group list-group-flush">
            <a href="../" class="list-group-item list-group-item-action bg-light">Overzicht</a>
            <a sec:authorize="hasAnyRole('ROLE_COORDINATOR', 'ROLE_LOGISTICS')"
               th:href="${'/destination/show/' + destination.id}" href="../edit"
               class="list-group-item list-group-item-action bg-light">Bekijk</a>
            <a sec:authorize="hasAnyRole('ROLE_COORDINATOR', 'ROLE_LOGISTICS')"
               th:href="${'/task/new/' + destination.id}" href="../edit"
               class="list-group-item list-group-item-action bg-light">Nieuwe Taak</a>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <nav th:replace="fragments/edit-show.html :: topmenu"
             class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        </nav>

        <div class="container-fluid">
            <h1 th:text="${destination.destinationName}" class="mt-4">Editeer Bestemming</h1>
            <div class="row " name="event-volunteer">

                <div class="col-sm-6">
                    <!-- Bestemming info  -->
                    <div class="card">
                        <div class="card-header">
                            <h4>Details</h4>
                        </div>
                        <div class="card-body">
                            <form class="form" role="form" th:object="${destination}" th:action="@{/destination/}"
                                  method="post">
                                <input type="hidden" th:field="*{id}"/>
                                <div class="form-group row">
                                    <label class=" col-lg-3 col-form-label form-control-label">Naam Bestemming</label>
                                    <div class="col-lg-9">
                                        <input class="form-control" th:field="*{destinationName}"></input>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="  col-lg-3 col-form-label form-control-label">Contact Info</label>
                                    <div class="col-lg-9">
                                        <textarea class="form-control" th:field="*{contactInfo}"></textarea>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">Straat</label>
                                    <div class="col-lg-9">
                                        <input class="form-control" th:field="*{street}"></input>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">Huis Nr</label>
                                    <div class="col-lg-9">
                                        <input class="form-control" th:field="*{streetNumber}"></input>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">Stad /
                                        Gemeente</label>
                                    <div class="col-lg-9">
                                        <input class="form-control" th:field="*{city}"></input>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">Postcode</label>
                                    <div class="col-lg-9">
                                        <input class="form-control" th:field="*{postalCode}"></input>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="  col-lg-3 col-form-label form-control-label"></label>
                                    <div class="col-lg-9">
                                        <button type="submit" class="btn btn-primary">Bevestig</button>
                                    </div>
                                </div>

                        </div>
                        <!-- /form user info -->
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="card" name="agreements">
                        <div class="card-header">
                            <H4>Afspraken</H4>
                        </div>
                        <div class=" card-body">
                            <textarea rows="15" class="form-control" th:field="*{destination.agreements}"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            </form>
            <div   th:if="${tasks!=null and !tasks.isEmpty()}"  class="jumbotron" name="tasks">
                <H3>Taken</H3>
                <table class="table table-striped table-light">
                    <tr>
                        <th>Titel</th>
                        <th>Beschrijving</th>
                        <th>Gebruikersrol</th>
                        <th>Editeer</th>
                        <th>Verwijder</th>
                    </tr>
                    <tr th:each="task : ${tasks}">
                        <td th:text="${task.title}"></td>
                        <td th:text="${task.description}">beschrijving</td>
                        <td th:text="${task.role.value}"></td>
                        <td ><a class="btn btn-block btn-success" th:href="${'/task/edit/' + task.id}">Editeer</a></td>
                        <td ><a class= "btn btn-block btn-danger"th:href="${'/task/delete/' + task.id}">Verwijder</a></td>
                    </tr>
                </table>
            </div>
        </div>

        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>

</body>

</html>
