<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/sub :: header" lang="en"></head>

<body>

<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Voedsaam Ritten</div>
        <div class="list-group list-group-flush">
            <a href="../portal" class="list-group-item list-group-item-action bg-light">Portaal</a>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <nav th:replace="fragments/sub.html :: topmenu"
             class="navbar navbar-expand-lg navbar-light bg-light border-bottom"></nav>

        <div class="container">
            <h1 class="mt-4">Werknemers</h1>
            <div class="container">
                <div th:if="${not #lists.isEmpty(employees)}">
                    <table class="table table-striped table-light">
                        <tr>
                            <th>Id</th>
                            <th>Gebruikersnaam / email</th>
                            <th>Voornaam</th>
                            <th>Achternaam</th>
                            <th>Gebruikersrol</th>
                            <th>Lijst</th>
                            <th>Editeer</th>
                            <th>Verwijder</th>
                        </tr>
                        <tr th:each="user : ${employees}">
                            <td th:text="${user.id}"></td>
                            <td th:text="${user.email}"></td>
                            <td th:text="${user.firstName}"></td>
                            <td th:text="${user.lastName}"></td>
                            <td th:text="${user.role.value}"></td>
                            <td><a class="btn btn-block , btn-primary" th:href="${'/user/showemployee/' + user.id}">Bekijk</a>
                            </td>
                            <td><a class="btn btn-block, btn-success" th:href="${'/user/editemployee/' + user.id}">Editeer</a>
                            </td>
                            <td th:if="${user.schedules.empty}"><a class="btn btn-block, btn-danger"
                                                                   th:href="${'/user/delete/' + user.id}">Verwijder</a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <a href="/user/newemployee" class="btn btn-primary">Nieuwe Werknemer</a>
                    </div>

                </div>
            </div>
        </div>
        <div class="container">
            <h1 class="mt-4">Vrijwilligers</h1>
            <div class="container">
                <div th:if="${not #lists.isEmpty(volunteers)}">
                    <table class="table table-striped table-light">
                        <tr>
                            <th>Id</th>
                            <th>Gebruikersnaam / email</th>
                            <th>Voornaam</th>
                            <th>Achternaam</th>
                            <th>Gebruikersrol</th>
                            <th>Lijst</th>
                            <th>Editeer</th>
                            <th>Verwijder</th>
                        </tr>
                        <tr th:each="user : ${volunteers}">
                            <td th:text="${user.id}"></td>
                            <td th:text="${user.email}"></td>
                            <td th:text="${user.firstName}"></td>
                            <td th:text="${user.lastName}"></td>
                            <td th:text="${user.role.value}"></td>
                            <td><a class="btn btn-block , btn-primary" th:href="${'/user/showvolunteer/' + user.id}">Bekijk</a>
                            </td>
                            <td><a class="btn btn-block, btn-success" th:href="${'/user/editvolunteer/' + user.id}">Editeer</a>
                            </td>
                            <td th:if="${user.drives.empty}"><a class="btn btn-block, btn-danger"
                                                                th:href="${'/user/delete/' + user.id}">Verwijder</a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <a href="/user/newvolunteer" class="btn btn-primary">Nieuwe Vrijwilliger</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>

</body>

</html>
