<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="en">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Vzw Voedsaam Ritten Planner</title>

    <!-- Bootstrap core CSS -->
    <link href="../../static/vendor/bootstrap/css/bootstrap.min.css"
          th:href="@{../../vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../static/css/simple-sidebar.css"
          th:href="@{../../css/simple-sidebar.css}" rel="stylesheet">

    <!-- JQuery -->
    <!-- Bootstrap core JavaScript -->
    <script src="../../static/vendor/jquery/jquery.min.js"
            th:src="@{../../vendor/jquery/jquery.min.js}"></script>
    <script src="../../static/vendor/bootstrap/js/bootstrap.bundle.min.js"
            th:src="@{../../vendor/jquery/bootstrap.bundle.min.js}"></script>


</head>

<body>

<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Voedsaam Ritten</div>
        <div class="list-group list-group-flush">
            <a href="../" class="list-group-item list-group-item-action bg-light">Overzicht</a>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <button class="btn btn-danger" id="menu-toggle">Menu</button>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <h1 class="mt-4">Gebruikers</h1>
            <!-- User info  -->
            <div class="container py-3">
                <div class="row">
                    <div class="mx-auto col-sm-6">
                        <!-- user info -->
                        <div class="card">
                            <div class="card-header">
                                <h4 class="mb-0">Gebruikers informatie</h4>
                            </div>
                            <div class="card-body">
                                <form class="form" role="form" autocomplete="off">
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">Voornaam</label>
                                        <div class="col-lg-9">
                                            <p class="form-control" th:text="${user.firstName}">firstName</p>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">Achternaam</label>
                                        <div class="col-lg-9">
                                            <p class="form-control" th:text="${user.lastName}">lastName</p>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">Email</label>
                                        <div class="col-lg-9">
                                            <p class="form-control" th:text="${user.email}">Email</p>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">Tel</label>
                                        <div class="col-lg-9">
                                            <p class="form-control" th:text="${user.tel}">tel</p>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">Gebruikers rol</label>
                                        <div class="col-lg-9">
                                            <p class="form-control" th:text="${user.role}">Admin</p>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">Kleur</label>
                                        <div class="col-lg-9">
                                            <p class="form-control" th:text="${user.color}">Rood</p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Adress info  -->
            <div class="container py-3">
                <div class="row">
                    <div class="mx-auto col-sm-6">
                        <!-- form user info -->
                        <div class="card">
                            <div class="card-header">
                                <h4 class="mb-0">Adres</h4>
                            </div>
                            <div class="card-body">
                                <form class="form" role="form" autocomplete="off">
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">Straat</label>
                                        <div class="col-lg-9">
                                            <p class="form-control" th:text="${user.street}">Street</p>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">Huisnummer</label>
                                        <div class="col-lg-9">
                                            <p class="form-control" th:text="${user.streetNumber}">Nr</p>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">Stad /
                                            Gemeente</label>
                                        <div class="col-lg-9">
                                            <p class="form-control" th:text="${user.city}">city</p>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">Postcode</label>
                                        <div class="col-lg-9">
                                            <p class="form-control" th:text="${user.postalCode}">9100</p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- /form user info -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>

</body>

</html>
