<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/sub.html :: header" lang="en"></head>

<body>

<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Voedsaam Ritten</div>
        <div class="list-group list-group-flush">
            <a href="../portal" class="list-group-item list-group-item-action bg-light">Portaal</a>
            <a sec:authorize="hasRole('ROLE_COORDINATOR')" href="/schedule/new" class="list-group-item list-group-item-action bg-light">Nieuw Schema</a>
            <a sec:authorize="hasRole('ROLE_COORDINATOR')" href="/schedule/listorphans" class="list-group-item list-group-item-action bg-light">Toon Wezen</a>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <nav th:replace="fragments/sub.html :: topmenu" class="navbar navbar-expand-lg navbar-light bg-light border-bottom"></nav>

        <div class="container">
            <div th:if="${not #lists.isEmpty(schedules)}">
                <h2>Schema Lijst</h2>
                <div class="alert alert-danger"  th:if="${error!=null}"  >
                    <p th:text="${error}"> error </p>
                </div>
                <table id="example" class="table table-striped table-light">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Naam</th>
                        <th>Eigenaar</th>
                        <th>Lijst</th>
                        <th sec:authorize="hasRole('ROLE_COORDINATOR')" >Editeer</th>
                        <th sec:authorize="hasRole('ROLE_COORDINATOR')">Verwijder</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="schedule : ${schedules}">
                        <td th:text="${schedule.id}"></td>
                        <td th:text="${schedule.name}"></td>
                        <td th:text="${schedule.owner}"></td>
                        <td><a class="btn btn-block btn-primary" th:href="${'/schedule/show/' + schedule.id}">Bekijk</a></td>
                        <td  sec:authorize="hasRole('ROLE_COORDINATOR')"><a class="btn btn-block btn-success" th:href="${'/schedule/edit/' + schedule.id}">Editeer</a></td>
                        <td sec:authorize="hasRole('ROLE_COORDINATOR')" ><a  th:if="${schedule.viewers.empty and schedule.drives.empty}" class= "btn btn-block btn-danger"th:href="${'/schedule/delete/' + schedule.id}">Verwijder</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
</div>
<!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>
<script>
    $(document).ready(function () {
        $('#example').DataTable({
            "language": {
                "sProcessing": "Bezig...",
                "sLengthMenu": "_MENU_ resultaten weergeven",
                "sZeroRecords": "Geen resultaten gevonden",
                "sInfo": "_START_ tot _END_ van _TOTAL_ resultaten",
                "sInfoEmpty": "Geen resultaten om weer te geven",
                "sInfoFiltered": " (gefilterd uit _MAX_ resultaten)",
                "sInfoPostFix": "",
                "sSearch": "Zoeken:",
                "sEmptyTable": "Geen resultaten aanwezig in de tabel",
                "sInfoThousands": ".",
                "sLoadingRecords": "Een moment geduld aub - bezig met laden...",
                "oPaginate": {
                    "sFirst": "Eerste",
                    "sLast": "Laatste",
                    "sNext": "Volgende",
                    "sPrevious": "Vorige"
                },
                "oAria": {
                    "sSortAscending":  ": activeer om kolom oplopend te sorteren",
                    "sSortDescending": ": activeer om kolom aflopend te sorteren"
                }
            }
        });
    });
</script>
</body>

</html>
