<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/sub.html :: header" lang="en"></head>

<body>

<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Voedsaam Ritten</div>
        <div class="list-group list-group-flush">
            <a href="../" class="list-group-item list-group-item-action bg-light">Overzicht</a>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <nav th:replace="fragments/sub.html :: topmenu" class="navbar navbar-expand-lg navbar-light bg-light border-bottom"></nav>

        <div class="container">
            <div th:if="${not #lists.isEmpty(schedules)}">
                <h2>Schema Lijst</h2>
                <div class="alert alert-danger"  th:if="${error!=null}"  >
                    <p th:text="${error}"> error </p>
                </div>
                <table class="table table-striped table-light">
                    <tr>
                        <th>Id</th>
                        <th>Naam</th>
                        <th>Eigenaar</th>
                        <th>Lijst</th>
                        <th sec:authorize="hasAnyRole('ROLE_COORDINATOR', 'ROLE_LOGISTICS')" >Editeer</th>
                        <th sec:authorize="hasRole('ROLE_COORDINATOR')">Verwijder</th>
                    </tr>
                    <tr th:each="schedule : ${schedules}">
                        <td th:text="${schedule.id}"></td>
                        <td th:text="${schedule.name}"></td>
                        <td th:text="${schedule.owner}"></td>
                        <td><a class="btn btn-block btn-primary" th:href="${'/schedule/show/' + schedule.id}">Bekijk</a></td>
                        <td sec:authorize="hasAnyRole('ROLE_COORDINATOR', 'ROLE_LOGISTICS')" ><a class="btn btn-block btn-success" th:href="${'/schedule/edit/' + schedule.id}">Editeer</a></td>
                        <td sec:authorize="hasRole('ROLE_COORDINATOR')" th:if="${schedule.viewers.empty and schedule.drives.empty}"><a class= "btn btn-block btn-danger"th:href="${'/schedule/delete/' + schedule.id}">Verwijder</a></td>
                    </tr>
                </table>
                <div class="row">
                    <div class="col-sm-3">
                        <a sec:authorize="hasRole('ROLE_COORDINATOR')" href="/schedule/new" class="btn btn-primary">Nieuw Schema</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
<!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>

</body>

</html>
