<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >

<head lang="en">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Vzw Voedsaam Ritten Planner</title>

    <!-- Bootstrap core CSS -->
    <link href="../../static/vendor/bootstrap/css/bootstrap.min.css"
          th:href="@{../../webjars/bootstrap/4.3.1/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../static/css/simple-sidebar.css"
          th:href="@{../../css/simple-sidebar.css}" rel="stylesheet">

    <!-- JQuery -->
    <!-- Bootstrap core JavaScript -->
    <script src="../../static/vendor/jquery/jquery.min.js"
            th:src="@{../../webjars/jquery/2.1.4/jquery.min.js}"></script>
    <script src="../../static/vendor/bootstrap/js/bootstrap.bundle.min.js"
            th:src="@{../../webjars/bootstrap/4.3.1/js/bootstrap.bundle.min.js}"></script>

    <!-- Full calender -->
    <link href="../../static/vendor/fullcalendar/fullcalendar.min.css" rel="stylesheet"
          th:href="@{../../vendor/fullcalendar/fullcalendar.min.css}">

    <link href="../../static/vendor/fullcalendar/fullcalendar.print.min.css" rel="stylesheet" media="print"
          th:href="@{../../vendor/fullcalendar/fullcalendar.print.min.css}">

    <script src="../../static/vendor/fullcalendar/lib/moment.min.js"
            th:src="@{../../vendor/fullcalendar/lib/moment.min.js}"></script>

    <script src="../../static/vendor/fullcalendar/fullcalendar.min.js"
            th:src="@{../../vendor/fullcalendar/fullcalendar.min.js}"></script>
    <script src="../../static/vendor/fullcalendar/locale-all.js"
            th:src="@{../../vendor/fullcalendar/locale-all.js}"></script>
    <script src="../../static/js/calender.js"
            th:src="@{../../js/calender.js}"></script>
    <style type="text/css">
        #calendar {
        }
    </style>
</head>

<body>

<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Voedsaam Ritten</div>
        <div class="list-group list-group-flush">
            <a href="../" class="list-group-item list-group-item-action bg-light">Overzicht</a>
            <a sec:authorize="hasAnyRole('ROLE_COORDINATOR', 'ROLE_LOGISTICS')" th:href="${'/drive/new/' + schedule.id}" href="../drive/form.html" class="list-group-item list-group-item-action bg-light">Nieuwe Rit</a>
            <a sec:authorize="hasRole('ROLE_COORDINATOR')" th:href="${'/schedule/clear/' + schedule.id}" href="/schedule/show.html" class="list-group-item list-group-item-action bg-light">Wis Ritten</a>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <nav th:replace="fragments/sub.html :: topmenu" class="navbar navbar-expand-lg navbar-light bg-light border-bottom"></nav>
        <div class="container">
            <h2 th:text="${schedule.name}">Schema naam</h2>
            <div id='calendar'> </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->

    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>

</div>
</body>

</html>
