<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/edit-show.html :: header" lang="en"></head>

<body>

<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Voedsaam Ritten</div>
        <div class="list-group list-group-flush">
            <a th:href="@{/portal}" href="/portal" class="list-group-item list-group-item-action bg-light">Portaal</a>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <nav th:replace="fragments/sub.html :: topmenu" class="navbar navbar-expand-lg navbar-light bg-light border-bottom"></nav>

        <div class="container-fluid">
            <h1 class="mt-4">Editeer gebruiker</h1>


            <div class="container">
                <div>
                    <form class="form-horizontal" th:object="${user}" th:action="@{/account/}" method="post">
                        <input type="hidden" th:field="*{id}"/>
                        <input type="hidden" th:field="*{role}"/>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Voornaam:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" th:field="*{firstName}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Achternaam:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" th:field="*{lastName}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Email:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" th:field="*{email}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Paswoord:</label>
                            <div class="col-sm-10">
                                <input type="password" name="password" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Telefoon:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" th:field="*{tel}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Kleur:</label>
                            <div class="col-sm-10">
                                <select class="form-control" th:field="*{color}">
                                    <option th:each="colorEach : ${colors}"
                                            th:value="${{colorEach}}"
                                            th:selected="${colorEach.equals(user.color)}"
                                            th:text="${colorEach.value}">
                                    </option>
                                </select>
                            </div>
                        </div>
                        <h2>Adres</h2>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Straat:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" th:field="*{street}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Huisnr</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" th:field="*{streetNumber}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Stad/Gemeente:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" th:field="*{city}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Postcode:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" th:field="*{postalCode}"/>
                            </div>
                        </div>
                        <div class="row">
                            <button type="submit" class="btn btn-primary">Bevestig</button>
                        </div>
                    </form>
                    <div class="row">
                        <p></p>
                    </div>
                </div>
            </div>


        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>

</body>

</html>
