<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/main :: header" lang="en">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Vzw Voedsaam Ritten Planner</title>

    <!-- Bootstrap core CSS -->
    <link href="../../static/vendor/bootstrap/css/bootstrap.min.css"
          th:href="@{webjars/bootstrap/4.3.1/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../static/css/simple-sidebar.css"
          th:href="@{css/simple-sidebar.css}" rel="stylesheet">

    <!-- JQuery -->
    <!-- Bootstrap core JavaScript -->
    <script src="../../static/vendor/jquery/jquery.min.js"
            th:src="@{webjars/jquery/2.1.4/jquery.min.js}"></script>
    <script src="../../static/vendor/bootstrap/js/bootstrap.bundle.min.js"
            th:src="@{webjars/bootstrap/4.3.1/js/bootstrap.bundle.min.js}"></script>


</head>

<body>

<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div th:replace="fragments/main.html ::sidemenu" class="bg-light border-right" id="sidebar-wrapper"></div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <nav th:replace="fragments/main.html :: topmenu"
             class="navbar navbar-expand-lg navbar-light bg-light border-bottom"></nav>

        <div class="container-fluid" name="start">
            <div th:style="'background-color:'+${color}" class="jumbotron">
                <h1 class="mt-4">VoedSaam portaal</h1>
                <p th:if="${#authentication.getName()=='anonymousUser'}"> Gelieve in te loggen via Werking -> <a
                        href="login.html" th:href="@{/login}">Login</a></p>
            </div>
            <div th:if="${#authentication.getName()!='anonymousUser'}" class="jumbotron">
                <h3 th:text="'Welkom '+${userName}" class="mt-4">Welkom gebruiker</h3>
            </div>
        </div>
        <div th:each="article : ${articles}" class="welcome-wrap">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm">
                        <div class="welcome-content">
                            <header class="entry-header">
                                <h2 th:text="${article.title}" class="entry-title">Welkom bij onze VZW</h2>
                                <span th:text="${#dates.format(article.dateCreated ,'dd-MM-yyyy HH:mm')}"> 2019-06-06 </span>
                            </header><!-- .entry-header -->

                            <div th:each="paragraph : ${article.getParagraphs()}" class="entry-content mt-5">
                                <h3 th:text="${paragraph.title}">Paragraph title</h3>
                                <p th:text="${paragraph.getText()}">Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit. Mauris tempus vestib ulum mauris quis aliquam. Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit. Mauris tempus vestibulum mauris quis aliquam. Integer
                                    accumsan sodales odio, id tempus velit ullamcorper id. Quisque at erat eu libero
                                    consequat tempus. Quisque molestie convallis tempus. Ut semper purus metus, a
                                    euismod sapien sodales ac. Duis viverra eleifend fermentum.</p>

                            </div><!-- .entry-content -->

                            <div th:each="link : ${article.getLinks()}" class="entry-footer mt-5">
                                <a th:href="${link.url}" th:text="${link.title}" href="#" class="btn btn-primary">Read More</a>
                            </div><!-- .entry-footer -->
                        </div><!-- .welcome-content -->
                    </div><!-- .col -->

                    <div th:if="${article.picture!=null}" class="col-sm">
                        <img th:src="@{'/picture/getData/' + ${article.picture.id}}" src="../static/images/welcome.jpg"
                             alt="welcome">
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .home-page-icon-boxes -->
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>

</body>

</html>
