<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/sub :: header" lang="en"></head>

<body>

<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Voedsaam website</div>
        <div class="list-group list-group-flush">
            <a th:href="@{/portal}" href="../portal"
               class="list-group-item list-group-item-action bg-light">Portaal</a>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <nav th:replace="fragments/sub.html :: topmenu"
             class="navbar navbar-expand-lg navbar-light bg-light border-bottom"></nav>

        <div class="container">
            <h1 class="mt-4">Contact formulieren</h1>
            <p th:if="${#lists.isEmpty(contacts)}"> Geen openstaande vragen </p>
            <div class="container">
                <div th:if="${not #lists.isEmpty(contacts)}">
                    <table id ="example" class="table table-striped table-light">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Naam</th>
                            <th>Onderwerp</th>
                            <th>Bekijk</th>
                            <th>Verwijder</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="contact : ${contacts}">
                            <td th:text="${contact.id}"></td>
                            <td th:text="${contact.name}"></td>
                            <td th:text="${contact.subject}"></td>
                            <td><a class="btn btn-block , btn-primary" th:href="${'/contact/show/' + contact.id}">Bekijk</a>
                            </td>
                            </td>
                            <td ><a class="btn btn-block, btn-danger" th:href="${'/contact/delete/' + contact.id}">Verwijder</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>
<script>
    $(document).ready(function () {
        $('#example').DataTable({
            "language": {
                "sProcessing": "Bezig...",
                "sLengthMenu": "_MENU_ resultaten weergeven",
                "sZeroRecords": "Geen resultaten gevonden",
                "sInfo": "_START_ tot _END_ van _TOTAL_ resultaten",
                "sInfoEmpty": "Geen resultaten om weer te geven",
                "sInfoFiltered": " (gefilterd uit _MAX_ resultaten)",
                "sInfoPostFix": "",
                "sSearch": "Zoeken:",
                "sEmptyTable": "Geen resultaten aanwezig in de tabel",
                "sInfoThousands": ".",
                "sLoadingRecords": "Een moment geduld aub - bezig met laden...",
                "oPaginate": {
                    "sFirst": "Eerste",
                    "sLast": "Laatste",
                    "sNext": "Volgende",
                    "sPrevious": "Vorige"
                },
                "oAria": {
                    "sSortAscending":  ": activeer om kolom oplopend te sorteren",
                    "sSortDescending": ": activeer om kolom aflopend te sorteren"
                }
            }
        });
    });
</script>
</body>

</html>
